{% extends 'bundles/FOSUserBundle/layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Modification {{ app.user.firstName }} | Delivereo{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/restaurant.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}

{% block fos_user_content %}
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col s12 m5 l4">
                    <div class="card" id="profileimage">
                        <div class="card-content">
                            <div class="image-wrapper">
                                {% if app.user.image is null %}
                                    <img src="https://res.cloudinary.com/dqwg570oo/image/upload/v1540289616/boss.png" alt="Default photo">
                                {% else %}
                                    <img src="{{ app.user.image.url }}" alt="Photo de {{ app.user.firstname }} {{ app.user.lastName }}">
                                {% endif %}
                            </div>
                            <div class="profile-cred">
                                <span class="profile-title">{{ app.user.firstName }} {{ app.user.lastName }}</span>
                                <div class="location flex align-center justify-center">
                                    {% include 'inc/user_type.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m7 l8">
                    <div class="card">
                        <div class="card-content">
                            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                            {{ form_widget(form._token) }}
                            <div class="input-field ">
                                {{ form_widget(form.firstName, { 'attr': { class: 'modernize', 'placeholder': 'Prénom' } }) }}
                            </div>
                            <div class="input-field ">
                                {{ form_widget(form.lastName, { 'attr': { class: 'modernize', 'placeholder': 'Nom' } }) }}
                            </div>
                            <div class="input-field ">
                                {{ form_widget(form.username, { 'attr': { class: 'modernize', 'placeholder': 'security.login.username'|trans } }) }}
                            </div>
                            <div class="input-field modernize">
                                {{ form_widget(form.gender, { 'attr': { class: 'modernize' } }) }}
                            </div>
                            <div class="input-field flex justify-center">
                                <input type="submit" class="modernize btn" value="{{ 'profile.edit.submit'|trans }}" />
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}