<div class="col s12 m4 l3 no-padding">
    <div class="sidebar hide-on-small-and-down fixed">
        <li class="sidebar-profile-link">
            <a href="{{ path('fos_user_profile_show') }}" class="waves-effect">
                <div class="image-container">
                    <img src="{{ app.user.image.url }}" alt="Photo de {{ app.user.firstName }}" width="40" height="40" class="circle">
                </div>
                <div class="user-info">{{ app.user.firstName }} {{ app.user.lastName }}</div>
            </a>
        </li>
        <li><a href="{{ path('owner_dashboard') }}" class="waves-effect"><i class="material-icons">show_chart</i>Tableau de bord</a></li>
        <li><a href="{{ path('owner_dashboard') }}" class="waves-effect"><i class="material-icons">dashboard</i>Commandes</a></li>

    </div>
</div>