{% extends "bundles/FOSUserBundle/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Mot de passe oublie | Delivereo{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block fos_user_content %}

    <div class="content-wrapper">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="card">
                    <div class="row">
                        <div class="col s12">
                            <div class="container-fluid">
                                <h3 class="heading">Réinitialisation</h3>

                                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                                    <div class="input-field">
                                        <input type="text" id="username" name="username" class="modernize" required="required" placeholder="{{ 'resetting.request.username'|trans }}" />
                                    </div>
                                    <div class="input-field submit-wrapper">
                                        <input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="modernize btn" />
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock fos_user_content %}
