<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>{% block title %}Delivereo{% endblock %}</title>

        {% block apiKeys %}{% endblock %}

        <link rel="shortcut icon" href="{{ asset('img/symfony.png') }}">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            {% include 'inc/navbar.html.twig' %}
        {% endblock %}

        <div class="floating-alerts">
            {% block alerts %}{% endblock %}
        </div>

        {% block body %}{% endblock %}

        {% block footer %}
            {% include 'inc/footer.html.twig' %}
        {% endblock %}

        {% block subject %}{% endblock %}

        {% block body_text %}{% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="{{ asset('js/materialize.min.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
            <script src="{{ asset('js/alerts.js') }}"></script>
        {% endblock %}
    </body>
</html>
