{% extends 'base.html.twig' %}

{% block navbar %}
    {% include 'inc/home_navbar.html.twig' %}
{% endblock %}

{% block body %}
    <section class="showcase bg showcase-bg">
        <div class="overlay"></div>
        <div class="container-fluid">
            <div class="showcase-content">
                <h2 class="slogan">Je clique, je commande</h2>
                <h4 class="sub-slogan">Commandez vos plats préférés chez les restaurants dans votre ville</h4>
                <form method="get" action="search.html">
                    <div class="input-field flex ">
                        <input type="text" class="modernize" placeholder="Choisir une ville">
                        <input type="submit" class="modernize" value="Trouver">
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="showcase">
        <div class="container-fluid">
            <div class="showcase-heading">
                <h1 class="heading">Comment ca marche ?</h1>
            </div>
            <div class="showcase-content no-padding">
                <div class="row m-auto">
                    <div class="col s12 l8 offset-l2">
                        <ul class="tabs">
                            <li class="tab col s6 l6"><a href="#clients" class="active">Clients</a></li>
                            <li class="tab col s6 l6"><a href="#restaurants">Restaurants</a></li>
                        </ul>
                    </div>
                    <div class="col s12 tab-window" id="clients">
                        <h3 class="heading">Client</h3>
                        <div class="row">
                            <div class="col s12 m6 l3">
                                <div class="card custom">
                                    <div class="card-content">
                                        <div class="card-image">
                                            <i class="material-icons large">account_circle</i>
                                        </div>
                                        <p>Créez un compte pour pouvoir commander</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m6 l3">
                                <div class="card custom">
                                    <div class="card-content">
                                        <div class="card-image">
                                            <i class="material-icons large">home</i>
                                        </div>
                                        <p>Trouver les restaurants proches de chez vous</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m6 l3">
                                <div class="card custom">
                                    <div class="card-content">
                                        <div class="card-image">
                                            <i class="material-icons large">add_shopping_cart</i>
                                        </div>
                                        <p>Choisissez votre mode de paiement et placez votre commande</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m6 l3">
                                <div class="card custom">
                                    <div class="card-content">
                                        <div class="card-image">
                                            <i class="material-icons large">access_time</i>
                                        </div>
                                        <p>Recevez votre commande</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col s12 tab-window" id="restaurants">
                        <h3 class="heading">Restaurant</h3>
                        <div class="row">
                            <div class="col s12 m6 l3">
                                <div class="card custom">
                                    <div class="card-content">
                                        <div class="card-image">
                                            <i class="material-icons large">account_circle</i>
                                        </div>
                                        <p>Créez un compte pour pouvoir ouvrir votre restaurant</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m6 l3">
                                <div class="card custom">
                                    <div class="card-content">
                                        <div class="card-image">
                                            <i class="material-icons large">add_to_queue</i>
                                        </div>
                                        <p>Ouvrez votre restaurant en fournissant les informations nécessaires</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m6 l3">
                                <div class="card custom">
                                    <div class="card-content">
                                        <div class="card-image">
                                            <i class="material-icons large">apps</i>
                                        </div>
                                        <p>Ajoutez vos plats pour que les clients les voient</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m6 l3">
                                <div class="card custom">
                                    <div class="card-content">
                                        <div class="card-image">
                                            <i class="material-icons large">add_alert</i>
                                        </div>
                                        <p>Quand une commande est effectuée, c'est à vous de le faire liver au client</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <a href="void:javascript;" class="modernize bold waves-effect">Procédez à la connexion</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="showcase bg-white">
        <div class="container-fluid">
            <div class="showcase-heading p-20-0">
                <h1 class="heading">Categories</h1>
            </div>
            <div class="showcase-content no-padding">
                <div class="row">
                    <div class="col s12 m6 l3">
                        <div class="modern-card">
                            <a href="void:javascript;" class="waves-effect linkify">
                                <div class="modern-card-image">
                                    <div class="modern-overlay"></div>
                                    <img src="{{ asset('img/burger.jpg') }}" alt="" class="modern-image">
                                </div>
                                <div class="modern-card-body">
                                    <span>Burger</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col s12 m6 l3">
                        <div class="modern-card">
                            <a href="void:javascript;" class="waves-effect linkify">
                                <div class="modern-card-image">
                                    <div class="modern-overlay"></div>
                                    <img src="{{ asset('img/fastfood.jpg') }}" alt="" class="modern-image">
                                </div>
                                <div class="modern-card-body">
                                    <span>FastFood</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col s12 m6 l3">
                        <div class="modern-card">
                            <a href="void:javascript;" class="waves-effect linkify">
                                <div class="modern-card-image">
                                    <div class="modern-overlay"></div>
                                    <img src="{{ asset('img/pizza.jpg') }}" alt="" class="modern-image">
                                </div>
                                <div class="modern-card-body">
                                    <span>Pizza</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col s12 m6 l3">
                        <div class="modern-card">
                            <a href="void:javascript;" class="waves-effect linkify">
                                <div class="modern-card-image">
                                    <div class="modern-overlay"></div>
                                    <img src="{{ asset('img/desserts.jpg') }}" alt="" class="modern-image">
                                </div>
                                <div class="modern-card-body">
                                    <span>Desserts</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <a href="void:javascript;" class="modernize bold waves-effect">Voir tout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="showcase" id="mobileversion">
        <div class="container-fluid">
            <div class="showcase-heading">
                <h1 class="heading">Disponible sur Android</h1>
            </div>
            <div class="showcase-content no-padding">
                <div class="row">
                    <div class="col s12 m6 l4 offset-l1">
                        <div class="image-card">
                            <img src="{{ asset('img/Android.png') }}" alt="Android version">
                        </div>
                    </div>
                    <div class="col s12 m6 l7" id="content">
                        <h4 class="heading">Essayez la version Android</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cum delectus distinctio, dolore doloremque doloribus dolorum est illo ipsum libero magnam nam nihil nisi numquam quo quos repellat sed, voluptas.</p>
                        <a href="void:javascript;">
                            <img src="assets/img/google-play-badge.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}