{% extends 'base.html.twig' %}

{% block title %}Création menu {{ restaurant.name }} | Delivereo{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
    <link rel="stylesheet" href="{{ asset('css/restaurant.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}

{% block alerts %}
    {% include 'inc/errors/form_floating_errors.html.twig' %}
{% endblock %}

{% block body %}
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col s12 m6 offset-m3">
                    <div class="card">
                        <div class="card-content">
                            <h4 class="heading">Création menu</h4>
                            {#{% include 'inc/form_errors.html.twig' %}#}
                            {{ form_start(form) }}
                            <div class="input-field">
                                {{ form_widget(form.name) }}
                            </div>
                            <div class="input-field">
                                {{ form_widget(form.description) }}
                            </div>
                            <div class="input-field">
                                {{ form_widget(form.price) }}
                            </div>
                            <div class="input-field modernize">
                                {{ form_widget(form.category) }}
                            </div>
                            <div class="input-field submit-wrapper">
                                <input type="submit" value="Créer" class="modernize btn">
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
