{% extends 'base.html.twig' %}

{% block title %}Panier | Delivereo{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/cart.css') }}">
{% endblock %}

{% block body %}

    <div class="page-wrapper">
        <div class="container-fluid">
            {% include 'order/order_breadcrumbs.html.twig' %}
            <div class="row">
                {% if app.user.cart is null or app.user.cart.items is empty%}
                    <div class="col s12">
                        <br>
                        <h4 class="center">Votre panier est vide</h4>
                        <br>
                        <div class="flex justify-center">
                            <a href="{{ path('homepage') }}" class="modernize">Retour</a>
                        </div>
                    </div>
                    {% block footer %}{% endblock %}
                {% else %}
                    <div class="col s12 m7 l8">
                        <div class="card">
                            <div class="card-content">
                                {#<h4 class="heading">Votre panier</h4>#}
                                <div class="row">
                                    {% for item in app.user.cart.items %}
                                        <div class="col s12 l6 cart-item-container-{{ item.id }}">
                                            <div class="card basic modernize menu-card-{{ item.id }}">
                                                <a>
                                                    <div class="card-content">
                                                        <span class="card-title">{{ item.menu.name }} <span style="display: inline;" class="card-title-quantity" data-quantity="{{ item.quantity }}">x{{ item.quantity }}</span></span>
                                                        <a style="cursor: pointer;" class="item-remove" data-item-id="{{ item.id }}">
                                                            <i class="material-icons close">close</i>
                                                        </a>
                                                        <p>{{ item.menu.description }}</p>
                                                        <div class="price">EUR {{ item.menu.price|number_format(2, '.') }}</div>

                                                        <div class="on-card quantity input">
                                                            <button class="decrease modernize" data-item-id="{{ item.id }}">
                                                                <span class="material-icons">remove</span>
                                                            </button>
                                                            <span class="quantity count" data-quantity="{{ item.quantity }}">{{ item.quantity }}</span>
                                                            <button class="increase modernize" data-item-id="{{ item.id }}">
                                                                <span class="material-icons">add</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m5 l4">
                        <div class="card" id="checkout">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12">
                                        {% if not app.user.cart is null %}
                                            {% set total = 0 %}
                                            {% for item in app.user.cart.items %}
                                                {% set total = total + (item.menu.price * item.quantity) %}
                                                <div class="flex align-center justify-space-between line cost-card-{{ item.id }}">
                                                    <span class="menu-name">{{ item.menu.name }} <span style="display: inline;" class="quantity">x{{ item.quantity }}</span></span>
                                                    <span class="menu-price">{{ (item.menu.price * item.quantity)|number_format(2, '.') }} EUR</span>
                                                </div>
                                            {% endfor %}
                                            <br>
                                            <div class="flex align-center justify-space-between line">
                                                <span>Total</span>
                                                <span class="total-price">{{ total|number_format(2, '.') }} EUR</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col s12">
                                        <div class="flex justify-center">
                                            <a style="margin-top: 15px;" href="{{ path('checkout_page') }}" class="stripe-btn waves-effect ">Poursuivre</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/cart.js') }}"></script>
    <script>
        $(document).ready(function (){
            $('span.step.cart').addClass('active');
        });
    </script>
{% endblock %}